<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="INERTIA_SSR_ENABLED" value="false"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="AI_SALES_ENABLED" value="false" force="true"/>
        <env name="AI_FAKE_EXECUTION_ENABLED" value="false" force="true"/>
        <env name="AI_EXTERNAL_CALLS_ENABLED" value="false" force="true"/>
        <env name="AI_LOCAL_RU_CALLS_ENABLED" value="false" force="true"/>
        <env name="AI_EXTERNAL_SANITIZED_CALLS_ENABLED" value="false" force="true"/>
        <env name="AI_PROVIDER_FAILOVER_ENABLED" value="false" force="true"/>
        <env name="AI_WEB_SEARCH_ENABLED" value="false" force="true"/>
        <env name="AI_OUTREACH_DRAFTING_ENABLED" value="false" force="true"/>
        <env name="AI_OUTREACH_SENDING_ENABLED" value="false" force="true"/>
        <env name="AI_AUTONOMOUS_CAMPAIGNS_ENABLED" value="false" force="true"/>
        <env name="AI_SALES_TRANSPORT_MODE" value="fake_only" force="true"/>
        <env name="AI_TIMEWEB_ENABLED" value="false" force="true"/>
        <env name="AI_TIMEWEB_BASE_URL" value="https://api.timeweb.ai/v1" force="true"/>
        <env name="AI_TIMEWEB_LOCAL_RU_ENABLED" value="false" force="true"/>
        <env name="AI_TIMEWEB_LOCAL_RU_API_KEY" value="" force="true"/>
        <env name="AI_TIMEWEB_LOCAL_RU_MODEL_IDS" value="" force="true"/>
        <env name="AI_TIMEWEB_EXTERNAL_ENABLED" value="false" force="true"/>
        <env name="AI_TIMEWEB_EXTERNAL_API_KEY" value="" force="true"/>
        <env name="AI_TIMEWEB_EXTERNAL_MODEL_LUNA" value="" force="true"/>
        <env name="AI_TIMEWEB_EXTERNAL_MODEL_TERRA" value="" force="true"/>
        <env name="AI_TIMEWEB_EXTERNAL_MODEL_SOL" value="" force="true"/>
        <env name="AI_TIMEWEB_PROBE_ENABLED" value="false" force="true"/>
        <env name="AI_TIMEWEB_SYNTHETIC_ONLY" value="true" force="true"/>
        <env name="AI_TIMEWEB_PROBE_MAX_RUB" value="" force="true"/>
        <env name="AI_TIMEWEB_PROBE_MAX_INPUT_TOKENS" value="" force="true"/>
        <env name="AI_TIMEWEB_PROBE_MAX_OUTPUT_TOKENS" value="" force="true"/>
        <env name="AI_TIMEWEB_PROBE_MAX_REQUESTS" value="" force="true"/>
        <env name="AI_TIMEWEB_PRICING_SNAPSHOT_VERSION" value="" force="true"/>
    </php>
</phpunit>
