@font-face {
    font-family: 'Sowjetschablone';
    src: url("/resources/fonts/Sowjetschablone.ttf") format('truetype');
}
@font-face {
    font-family: 'Typingrad';
    src: url("/resources/fonts/Typingrad.otf") format('opentype');
}
@font-face {
    font-family: 'FIFARussia2018';
    src: url("/resources/fonts/FIFARussia2018.ttf") format('truetype');
}
@font-face {
    font-family: 'Rubik-Medium';
    src: url("/resources/fonts/Rubik-Medium.ttf") format('truetype');
}
@font-face {
    font-family: 'Comfortaa-VariableFont_wght';
    src: url("/resources/fonts/Comfortaa-VariableFont_wght.ttf") format('truetype');
}
@font-face {
    font-family: 'OrelegaOne-Regular';
    src: url("/resources/fonts/OrelegaOne-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Underdog-Regular';
    src: url("/resources/fonts/Underdog-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Screpka';
    src: url("/resources/fonts/Screpka.ttf") format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url("/resources/fonts/Roboto-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Bad Script';
    src: url("/resources/fonts/Bad Script.ttf") format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
